*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: blueviolet;
    margin: 0 150px;
    padding: 0;
}

/*  ========  Header ======== */
header
{
    padding: 19px;
    color: white;
    background-color: rgba(0,24,44,255);
}

figure
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
}

h1
{
    color: darkcyan;
    font-size: 2.5em;
    width: 500px;
}

h1 a
{
    text-decoration: none;
    color: darkcyan;
}

h2
{
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}

.pi
{
    position: relative;
    top: 4px;
}

ul
{
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: flex-start;
}

ul li
{
    
    border: 2px solid darkcyan;
    width: 33%;
    text-align: center;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
}

.x22
{
    width: 120px;
    height: 100px;
    object-fit: cover;
}

nav a
{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: powderblue;
    font-size: 1.3em;
    transition-property: color;
    transition-duration: 2s;
    transition-delay: 0.1s;
    transition-timing-function: ease-out;
}

h2 a
{
    color: floralwhite;
    font-size: 1em;
    transition: none;
    text-decoration: none;
}

header ul li:hover
{
    background-color: powderblue;
}

nav a:hover
{
    color: darkcyan; 
}

/* ======== Sujet + Table des questions  ======== */

.sujetexo1
{
    border: 2px solid;
    width: 666px;
    height: 323px;
}

.container
{
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.container figure
{
    width: 666px;
    height: 323px;
    object-fit: cover;
}

aside
{
    border: 2px solid powderblue;
    width: 20%;
    background-color: rgba(0,24,44,255);
}

aside ul
{
    flex-direction: column;
    justify-content: center;
    line-height: 50px;
}
 aside ul li
 {
     border: none;
     width: 100%;
 }

 h4
 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.2em;
    text-decoration: wavy overline underline cyan;
    color: darkcyan;
 }

 aside a
 {
     text-decoration: none;
     font-size: 1.1em;
     color: powderblue;
 }

/* ======== Page principale ======== */
@font-face {
    font-family: 'indie_flowerregular';
    src: url('policeTest/indieflower-regular-webfont.woff2') format('woff2'),
         url('policeTest/indieflower-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 h3
 {
     margin-top: 40px;
     color: ivory;
     font-size: 1.4em;
 }

 .tableau
 {
     border: 2px solid darkgreen;
     color: darkblue;
     font-weight: bold;
     font-size: 1.3em;
     font-family: 'indie_flowerregular';
     padding-left: 10px;
     line-height: 40px;
     background-image: url("fontTest/grille.png");
 }

 .equation
 {
     position: relative;
     top: 15px;
 }

 #vrai
{
    font-weight: bold;
    color: forestgreen;
}

#faux
{   
    font-weight: bold;
    color: red;
}

/********** Responsive ******** */

@media screen and (max-width: 750px)
{
    body
    {
        margin: 0;
    }

    .container
    {
        flex-direction: column;
    }


}

@media screen and (max-width: 1436px)
{
    .container
    {
        flex-direction: column;
    }

    h4
    {
        margin-left: 0;
        text-decoration: underline;
        text-align: center;
        width: 100%;
    }

    aside
    {
        margin: 20px auto;
        width: 100%;
    }

}

@media screen and (max-width: 444px)
{
    .x22
    {
        display: none;
    }
}


@media screen and (max-width: 680px)
{
    header, aside, .tableau
        {
            width: 100vh;
            margin-right: 0;
        }

    body
    {
        margin: 0;
    }
}
